<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>"Friend" Finder ;)</title>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
     <link href="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
 <header class="container">
  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo center">"Friend" Finder</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">

      </ul>
    </div>
  </nav>
 </header>
 <main>
    <div class="container">
    <div class="row">
        <div class="col s12 m5">
          <div class="card">
            <div class="card-content">
              <span class="card-title">Fill out this survey to find the One</span>
              <!-- {{!-- survey here --}} -->
              <form id="surveyForm">
                <div class="input-field col s6">
                    <input placeholder="John Smith" id="name" type="text" class="validate">
                    <label for="name">First Name</label>
                  </div>
                  <div class="input-field col s6">
                    <input placeholder="JohnSmith@email.com" id="email" type="text" class="validate">
                    <label for="email">Last Name</label>
                  </div>
                <br>
                
                <div class="col s12">
                  <p>
                    You like to Eat later rather than earlier.
                  </p>
                </div>
                <div class="input-field col s12">
                  <select id="q1">
                    <option value="" disabled selected>Choose your option</option>
                    <option value="1">Strongly Agree</option>
                    <option value="2">Agree</option>
                    <option value="3">Indiferent</option>
                    <option value="4">Disagree</option>
                    <option value="5">Strongly Disagree</option>
                  </select>
                  <label>How do you feel?</label>
                </div>
                <div class="col s12">
                  <p>
                    Splitting the bill at dinner is acceptable.
                  </p>
                </div>
                <div class="input-field col s12">
                  <select id="q2">
                    <option value="" disabled selected>Choose your option</option>
                    <option value="1">Strongly Agree</option>
                    <option value="2">Agree</option>
                    <option value="3">Indiferent</option>
                    <option value="4">Disagree</option>
                    <option value="5">Strongly Disagree</option>
                  </select>
                  <label>How do you feel?</label>
                </div>
                <div class="col s12">
                  <p>
                    You would consider yourself spiritual. 
                  </p>
                </div>
                <div class="input-field col s12">
                  <select id="q3">
                    <option value="" disabled selected>Choose your option</option>
                    <option value="1">Strongly Agree</option>
                    <option value="2">Agree</option>
                    <option value="3">Indiferent</option>
                    <option value="4">Disagree</option>
                    <option value="5">Strongly Disagree</option>
                  </select>
                  <label>How do you feel?</label>
                </div>
                <div class="col s12">
                  <p>
                    Personal health (physical and mental) are of utmost importence.
                  </p>
                </div>
                <div class="input-field col s12">
                  <select id="q4">
                    <option value="" disabled selected>Choose your option</option>
                    <option value="1">Strongly Agree</option>
                    <option value="2">Agree</option>
                    <option value="3">Indiferent</option>
                    <option value="4">Disagree</option>
                    <option value="5">Strongly Disagree</option>
                  </select>
                  <label>How do you feel?</label>
                </div>
                <div class="col s12">
                  <p>
                    Life.. uh..uh finds a way.
                  </p>
                </div>
                <div class="input-field col s12">
                  <select id="q5">
                    <option value="" disabled selected>Choose your option</option>
                    <option value="1">Strongly Agree</option>
                    <option value="2">Agree</option>
                    <option value="3">Indiferent</option>
                    <option value="4">Disagree</option>
                    <option value="5">Strongly Disagree</option>
                  </select>
                  <label>How do you feel?</label>
                </div>
                <div class="col s12">
                  <p>
                    Breakfast is the most importance meal of the day.
                  </p>
                </div>
                <div class="input-field col s12">
                  <select id="q6">
                    <option value="" disabled selected>Choose your option</option>
                    <option value="1">Strongly Agree</option>
                    <option value="2">Agree</option>
                    <option value="3">Indiferent</option>
                    <option value="4">Disagree</option>
                    <option value="5">Strongly Disagree</option>
                  </select>
                  <label>How do you feel?</label>
                </div>
                <div class="col s12">
                  <p>
                    You whisk you eggs before you put them in the pan.
                  </p>
                </div>
                <div class="input-field col s12">
                  <select id="q7">
                    <option value="" disabled selected>Choose your option</option>
                    <option value="1">Strongly Agree</option>
                    <option value="2">Agree</option>
                    <option value="3">Indiferent</option>
                    <option value="4">Disagree</option>
                    <option value="5">Strongly Disagree</option>
                  </select>
                  <label>How do you feel?</label>
                </div>
                <div class="col s12">
                  <p>
                    I drink enough water during the day.
                  </p>
                </div>
                <div class="input-field col s12">
                  <select id="q8">
                    <option value="" disabled selected>Choose your option</option>
                    <option value="1">Strongly Agree</option>
                    <option value="2">Agree</option>
                    <option value="3">Indiferent</option>
                    <option value="4">Disagree</option>
                    <option value="5">Strongly Disagree</option>
                  </select>
                  <label>How do you feel?</label>
                </div>
                <div class="col s12">
                  <p>
                    You enjoy the outdoors.
                  </p>
                </div>
                <div class="input-field col s12">
                  <select id="q9">
                    <option value="" disabled selected>Choose your option</option>
                    <option value="1">Strongly Agree</option>
                    <option value="2">Agree</option>
                    <option value="3">Indiferent</option>
                    <option value="4">Disagree</option>
                    <option value="5">Strongly Disagree</option>
                  </select>
                  <label>How do you feel?</label>
                </div>
                <div class="col s12">
                  <p>
                    You'll try anything once.
                  </p>
                </div>
                <div class="input-field col s12">
                  <select id="q10">
                    <option value="" disabled selected>Choose your option</option>
                    <option value="1">Strongly Agree</option>
                    <option value="2">Agree</option>
                    <option value="3">Indiferent</option>
                    <option value="4">Disagree</option>
                    <option value="5">Strongly Disagree</option>
                  </select>
                  <label>How do you feel?</label>
                </div>
              <button type="submit">Find Luuhvv</button>
              </form>
            </div>
          </div>
        </div>
    <div class="col s12 m5 offset-m2">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Your New Forever</span>
        </div>
        <div class="card-content" id="lovePoster">
          <!-- {{!-- name of all the lover bois --}} -->

        </div>
      </div>
    </div>
  </div>
</div>
 </main>
 <footer>

 
 </footer>
 <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
 <script type="text/javascript" >
  document.addEventListener('DOMContentLoaded', function() {
    //materialize code=================================
    M.AutoInit();
    var elems = document.querySelectorAll('select');
    elems.onchange = selectThem;
    var instances = M.FormSelect.init(elems);
    function selectThem() {
      var selectedOne = instances.getSelectedValues();
      console.log(selectedOne);
    };
    //end materialize code=============================

    //user class, to build and manage all users on the sight
    class User{ 
      constructor (name, email, scores){
        this.name = name;
        this.email = email;
        this.scores = scores;
      }

      // get avg(){ //old way of comparing 
      //   return (this.scores.reduce((a, b) => a + b, 0)) / this.scores.length
      // }

      findLove(){
        $.ajax({
            url: "/api/friends", 
            type: "POST",
            data: this
        }).then(function(data) {
          console.log(`Posted Survey From ${this.name}`)
          console.log(`data from survey, hopefully a macth: ${JSON.stringify(data)}`)

          //post the new loves info here, 
          $("#lovePoster").append(
            $("<div/>").append(
              $("<h3/>").text(data.name)
            ).append(
              $("<p/>").text(`Why not shoot them an email? \n ${data.email}`)
            )
          )
        })
      }

     

    }//end class



    $("#surveyForm").on("submit", function(event){  
        event.preventDefault();

        var scores =[]
        scores.push(parseInt($("#q1").val()),parseInt($("#q2").val()),parseInt( $("#q3").val()),parseInt($("#q4").val()),parseInt($("#q5").val()),parseInt($("#q6").val()),parseInt($("#q7").val()),parseInt($("#q8").val()),parseInt($("#q9").val()),parseInt($("#q10").val()))

        //construct the new user using data from the survey
        let newUser = new User($("#name").val().trim(), $("#email").val().trim(), scores)

        //post the new user using the method ajax call
        newUser.findLove();
    })

    //user getter
    // $.ajax({
    //         url: "/api/friends", 
    //         method: "GET"
    //     }).then( function(res){
    //         console.log(`find love response ${JSON.stringify(res)}`)
    //          //run comparison here??????? filter and a math conditional 
    //     })
    
});
 </script>
</body>
</html>